@font-face {
    font-family: 'ABCMaxiRoundVariable';
    src: url('fonts/ABCMaxiRoundVariable.woff');
}
header nav {
	padding: 1vw 7%;
	display: flex;
	justify-content: space-between;
	font-family: 'LL Circular Book Sub';
	font-size: 24px;
	font-weight: bold;
	color:#261C1C;
	cursor:default;
}
header nav a{
	color:#261C1C;
	text-decoration: none;
	text-transform: uppercase;
	cursor:pointer;
}
header nav a:hover,
header nav a:focus{
	text-decoration: underline;
}
header h1 {
	font-family: 'ABCMaxiRoundVariable';
	font-size: 96px;
	text-transform: uppercase;
	width: 32%;
	color:#261C1C;
}
main{
	position:relative;
}
#lignes_artistes img{
	position:absolute;
	width:100%;
}
section#liens_artistes{
	position:relative;
	z-index: 2;
}
section#liens_artistes h2 {
	position: absolute;
	width: 12%;
	font-family: 'ABCMaxiRoundVariable';
	font-size: 48px;
	padding: 20px 4%;
	margin: 0;
}
section#liens_artistes h2#lien_artiste_1{
	left: calc(75% - 20%);
	top: 26vw;
}
section#liens_artistes h2 a{
	color:#000;
	text-decoration: none;
}