main{
	position:relative;
}
#lignes_artistes img{
	position:absolute;
	width:100%;
}
section#liens_artistes{
	position:relative;
	z-index: 2;
}
section#liens_artistes h2{
	position: absolute;
	width: 20%;
	background: red;
}
section#liens_artistes h2#lien_artiste_1{
	left: calc(75% - 20%);
	top: 20em;
}
section#liens_artistes h2 a{

}